*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    border: none;
}

/* Header Starts Here*/
header{
    background-color: #001141;
    padding: 20px;
    box-shadow: 5px 10px 8px #111111;
    margin-bottom: 20px;
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
}

header h3{
    color: #ffffff;
    cursor: pointer;
}

header h1:hover,
header h3:hover{
    color: #c9c8c8;
    transition: .2s;
}
/* Header Ends Here*/

body{
    font-family: 'Roboto', sans-serif;
    color: white;
    background: radial-gradient(circle, rgba(0,0,0,1) 22%, rgba(0,0,0,1) 60%, rgba(19,19,19,1) 100%); 
    display: flex;
    flex-direction: column;
}

/* Calculator Section Starts Here*/
.calculator-container{
    display: grid;
    place-items: center;
}

.calculator{
    width: 400px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.041);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: #000;
    display: flex;
    flex-direction: column;
    border: 3px solid #ffffff;
}

.calculator h3{
    font-size: .8em;
    font-weight: 300;
    color: #ffffff;
}

#operations{
    text-align: right;
}

#current-operation{
    padding:  .2em;
    overflow-wrap: break-word;
    min-height: 1.6em;
    font-size: 3em;
    font-weight: 700;
    
}

#button-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}

#button-container button{
    border: 1px solid white;
    border-radius: 5px;
    height: 4em;
    font-size: 1.2rem;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
}

#button-container .number{
    background: transparent;
}

#button-container #btnEqual{
    border: none;
    grid-column: span 2;
    background: transparent; 
    border: 1px solid #ffffff;
}

#button-container button:hover,
#button-container #btnEqual:hover{
    background: #001141;
}
/* Calculator Section Ends Here*/

.container{
    background: rgba(255, 255, 255, 0.041);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 3px solid #ffffff;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}

.container h2{
    text-align: center;
    margin-bottom: 10px;
}

.container .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.card{
    border-radius: 10px;
    background: linear-gradient(122deg, rgba(0,29,108,1) 22%, rgba(0,45,156,1) 79%, rgba(51,177,255,1) 100%); 
    text-align: center;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.card:hover{
    background: #001141; 
    transition: .2s;
}