*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

header{
    background-color: #0f0f0f;
    padding: 20px;
    box-shadow: 5px 10px 8px #111111;
    margin-bottom: 20px;
    display: flex;
    color: #ffffff;
    justify-content: space-between;
}

header h3{
    color: #ffffff;
    cursor: pointer;
}

header h3:hover{
    color: #500050;
    transition: .2s;
}

body{
    font-family: 'Roboto', sans-serif;
    color: white;
    background: #131313;
}

.container{
    background: #1b1b1b;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.container .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.card{
    border-radius: 10px;
    background: linear-gradient(#8f018f, #da00da);
    text-align: center;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card:hover{
    background: linear-gradient(#500050, #380038);
    transition: .2s;
}